# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*/*/agg-*
*/*/saga-*
*/*/pmg-*
*/*/prj-*

# Test binary
*.test

# Output
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Generated proto code
proto/**/*pb.go

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Kubernetes
*.kubeconfig
